$bkg-green: #00b8a9;
$txt-dark: #17223b;
$txt-yellow: #ffdd67;
$main-heading: 400% 'Luckiest Guy', cursive;
$normal-text: 200% 'Mukta', cursive;

* {
  margin: 0;
}
body {
  background-color: $bkg-green;
  width: 100%
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font: $main-heading;
  color: $txt-yellow;
  margin-top: 30px;
}

h4 {
  font: $normal-text;
  font-weight: bold;
  color: $txt-yellow;
  margin: 10px;
}

#doggo-clock, #doggo-button {
  font: $normal-text;
  color: $txt-dark;
  background-color: $txt-yellow;
  border-radius: 10px;
  padding: 5px;
  width: 365px;
  box-sizing: content-box;
  cursor: pointer;
}

#doggo-clock {
  font-weight: bold;
  color: $txt-dark;
  margin-bottom: 30px;
  text-align: center;
}

#doggo-image {
  min-width: 375px;
}

#doggo-button {
  border: none;
  margin-top: 20px;
}

button:focus {outline:0;}
